{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true,
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "generators": true,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "async": true
    }
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "rules": {
    "indent": [2, 2, { "SwitchCase": 1 }],
    "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }],
    "no-use-before-define": [2, "nofunc"],
    "comma-dangle": [0],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-underscore-dangle": [0],
    "no-unused-expressions": ["error", { "allowTaggedTemplates": true }]
  }
}
