$TWITTER_BLUE: rgb(20, 129, 195);
$ACCENT_PURPLE: rgb(175, 52, 175);
$ACCENT_SUCCESS: rgb(8, 136, 16);
$ACCENT_ERROR: rgb(197, 61, 61);
$ACCENT_WARN: orange;

* {
    outline: none;
}

body {
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  background-color: rgb(230, 236, 240);
  font-weight: 500;
}

h1, h2, h3, p { margin: 0; padding: 0; }

.btn {
  color: $TWITTER_BLUE;
  border: 1px solid $TWITTER_BLUE;
  border-radius: 100px;
  box-shadow: none;
  &:hover {
    color: $ACCENT_PURPLE;
  }
}

.header, .controls span.prefix {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: $TWITTER_BLUE;
    top: 0;
}
.header .header-screen_name {
    color: $ACCENT_PURPLE;
}

.input-field {
  /* label color */
  label { color: $TWITTER_BLUE !important; }
  input {
    font-weight: 500;
    color: $ACCENT_PURPLE;

    &[type=text] {
      /* label underline focus color */
      &:focus {
        border-bottom: 1px solid $TWITTER_BLUE !important;
        box-shadow: 0 1px 0 0 $TWITTER_BLUE !important;
        /* label focus color */
        & + label {
          color: $TWITTER_BLUE !important;
        }
      }
    }
  }
  /* icon prefix focus color */
  .prefix {
    &.active, &.valid {
      color: $ACCENT_PURPLE;
    }
    &.invalid {
      color: $ACCENT_ERROR;
      & + input {
        color: $ACCENT_ERROR;
        border-bottom: 1px solid $ACCENT_ERROR !important;
        box-shadow: 0 1px 0 0 $ACCENT_ERROR !important;
      }
    }
  }
}

.controls {
  justify-content: space-around;
}

.collapsible-header {
  cursor: unset;
  text-align: left;
  &:focus {
    background-color: rgb(255, 255, 255) !important;
  }
}

[data-task-id] {
  transition: color 0.6s ease-out;
  &[data-task-status="ok"] {
    color: $ACCENT_SUCCESS;
  }
  &[data-task-status="ban"] {
    color: $ACCENT_ERROR;
  }
  &[data-task-status="warn"] {
    color: $ACCENT_WARN;
  }
  .gears {
    width: 2rem;
    margin-right: 1rem;
    background: transparent url('../img/gears.svg') bottom center no-repeat;
    background-size: contain;
    margin-right: 7px;
  }
  .qfd-hint {
    font-size: 1rem;
    margin-right: 0;
    width: unset;
    text-align: unset;
    color: $TWITTER_BLUE;
  }
}

footer {
  font-size: .875em;
  margin-top: 6em;
  color: rgb(90, 90, 90);
  a {
      color: $TWITTER_BLUE;
      text-decoration: none;
  }
  p {
      margin-bottom: 0.25em;
  }
}
