$TWITTER_BLUE: rgb(20, 129, 195);
$ACCENT_PURPLE: rgb(175, 52, 175);
$ACCENT_SUCCESS: rgb(8, 136, 16);
$ACCENT_ERROR: rgb(197, 61, 61);
$ACCENT_WARN: orange;

* {
    outline: none;
}

body {
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  background-color: rgb(230, 236, 240);
  font-weight: 500;
}

.btn {
  color: $TWITTER_BLUE;
  border: 1px solid $TWITTER_BLUE;
  border-radius: 100px;
  box-shadow: none;
  &:hover {
    color: $ACCENT_PURPLE;
  }
}

.header, #controls span.prefix {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: $TWITTER_BLUE;
    top: 0;
}
.header .header-screen_name {
    color: $ACCENT_PURPLE;
}

#controls .card {
  justify-content: space-around;
  padding: 1rem;

  .input-field {
    /* label color */
    label { color: $TWITTER_BLUE !important; }
    input {
      font-weight: 500;
      color: $ACCENT_PURPLE;

      &[type=text] {
        /* label underline focus color */
        &:focus {
          border-bottom: 1px solid $TWITTER_BLUE !important;
          box-shadow: 0 1px 0 0 $TWITTER_BLUE !important;
          /* label focus color */
          & + label {
            color: $TWITTER_BLUE !important;
          }
        }
      }
    }
    /* icon prefix focus color */
    .prefix {
      color: $TWITTER_BLUE;
      &.active, &.valid {
        color: $ACCENT_PURPLE;
      }
      &.invalid {
        color: $ACCENT_ERROR;
        & + input {
          color: $ACCENT_ERROR;
          border-bottom: 1px solid $ACCENT_ERROR !important;
          box-shadow: 0 1px 0 0 $ACCENT_ERROR !important;
        }
      }
    }
  }
}

#tasks {
  li {
    margin: 0;
  }
}

.collapsible-header {
  text-align: left;
  transition: 0.5s background-color ease-in-out 2s;
  &[data-task-id="checkUser"] {
    cursor: unset;
  }
  &:focus {
    background-color: rgb(255, 255, 255) !important;
  }
  &.highlight {
    animation: highlight-animation 1s cubic-bezier(0.24, 0, 0.38, 1) 3;
  }
}
@keyframes highlight-animation {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.collapsible-body {
  background-color: rgb(255, 255, 255);
  h5 {
    margin-top: 0;
  }
  .description-indicator {
    color: rgb(0, 0, 0);
  }
}

[data-task-id] {
  transition: color 0.6s ease-out;
  .task-message {
    flex-grow: 1;
  }
  &[data-task-status="ok"] {
    color: $ACCENT_SUCCESS;
  }
  &[data-task-status="ban"] {
    color: $ACCENT_ERROR;
  }
  &[data-task-status="warn"] {
    color: $ACCENT_WARN;
  }
  .gears {
    width: 2rem;
    margin-right: 1rem;
    background: transparent url('../../img/gears.svg') bottom center no-repeat;
    background-size: contain;
    margin-right: 7px;
  }
}

.emoji {
  width: 1em;
  height: 1em;
  vertical-align: text-top;
}

footer {
  font-size: .875em;
  margin-top: 6em;
  color: rgb(90, 90, 90);
  a {
      color: $TWITTER_BLUE;
      text-decoration: none;
  }
  p {
      margin-bottom: 0.25em;
  }
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: unset;
    bottom: 7%;
    max-width: 90%;
  }
}
#toast-container {
  .toast {
    &.qf-setting-toast {
      background-color: $ACCENT_ERROR;
      color: rgb(238, 255, 65);
      font-size: unset;
      font-weight: unset;
    }
  }
}

.techInfo {
  display: none;
}
